bin/sensorManager
bin/cam_manager
bin/appManager/sysAppManager
bin/appManager/appPackageRepository.db
bin/appManager/deviceRepository.db
bin/appManager/serviceDaemonRepository.db
bin/appManager/application/*
lib
tags
CMakeCache.txt
CMakeFiles
*/CMakeFiles
cmake_install.cmake
*/cmake_install.cmake
Makefile
*/Makefile
