bin/sensorManager
bin/cam_manager
bin/cam_fw
bin/appManager/sysAppManager
bin/appManager/appPackageRepository.db
bin/appManager/deviceRepository.db
bin/appManager/serviceDaemonRepository.db
bin/appManager/application/*
tags
CMakeCache.txt
CMakeFiles
*/CMakeFiles
cmake_install.cmake
*/cmake_install.cmake
Makefile
*/Makefile
node/*/build/*
node/*/Release/*
node/*.node
node/sensfw
node/sysfw
node/src/camfw/facedetection/build
node/src/camfw/OPELCameraAPI/build
data
node_modules
out
